// 主题色
:root {
  --peeto-workbench-bg-color: #ffffff;
}
@bg-color: var(--peeto-workbench-bg-color);

.neumorphism() {
  padding: 8px;
  border-radius: 8px;
  background: @bg-color;
  box-shadow: inset 5px 5px 9px color-mix(in srgb, @bg-color 90%, black 10%),
    inset -5px -5px 10px color-mix(in srgb, @bg-color 99%, black 1%);
}

.peeto-workbench {
  background-color: @bg-color;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  // font-size: 24px;
  gap: 4px;
  &-left-tool-bar {
    height: 100%;
    display: flex;
    gap: 4px;
    &-icons {
      .neumorphism();
      overflow-y: auto;
      width: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
    }
    &-panel {
      .neumorphism();
      width: 300px;
    }
  }
  &-content {
    height: 100%;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    // margin-left: 8px;
    &-top-tool-bar {
      .neumorphism();
      box-sizing: border-box;
      height: 36px;
      &-icons {
        display: flex;
        flex-direction: row;
        height: 100%;
        &-item {
          height: 20px;
          width: 20px;
        }
      }
    }
    &-simulator {
      .neumorphism();
      margin-top: 8px;
      box-sizing: border-box;
      flex: 1 0 0;
      transform: translate(0, 0);
      // 清楚bfc
      &-content {
        position: fixed;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        overflow: auto;
        scrollbar-width: none;
      }
    }
    // &-footer {
    //   .neumorphism();
    //   margin-top: 8px;
    //   box-sizing: border-box;
    //   height: 48px;
    // }
  }
  &-right-tool-panel {
    box-sizing: border-box;
    .neumorphism();
    width: 300px;
    height: 100%;
    position: relative;
    &-content {
      position: absolute;
      inset: 0;
      overflow: auto;
    }
  }
}
